<!DOCTYPE html>
<html>
  <head>
    <!-- Basic -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- Mobile Metas -->
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <!-- Site Metas -->
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title>Bebas Sara</title>

    <!-- bootstrap core css -->
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles.css') }}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='css/bootstrap.css') }}"
    />

    <!-- fonts style -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:400,700|Poppins:400,600,700&display=swap"
      rel="stylesheet"
    />

    <!-- Custom styles for this template -->
    <link
      href="{{ url_for('static', filename='css/style.css') }}"
      rel="stylesheet"
    />
    <!-- responsive style -->
    <link
      href="{{ url_for('static', filename='css/responsive.css') }}"
      rel="stylesheet"
    />
  </head>

  <body>
    <div class="hero_area">
      <!-- header section strats -->

      <header class="header_section">
        <!-- <div class="header_top">
          <div class="container-fluid">
            <div class="contact_link-container">
              <a
                href="https://maps.app.goo.gl/y36hrpy7CBB2nA9k9"
                class="contact_link1"
              >
                <i class="fa fa-map-marker" aria-hidden="true"></i>
                <span> UIN Bandung </span>
              </a>
              <a href="https://wa.me/082111018492" class="contact_link2">
                <i class="fa fa-phone" aria-hidden="true"></i>
                <span> Call : +62 82111018492 </span>
              </a>
              <a href="mailto:informatics@uinsgd.ac.id" class="contact_link3">
                <i class="fa fa-envelope" aria-hidden="true"></i>
                <span> informatics@uinsgd.ac.id </span>
              </a>
            </div>
          </div>
        </div> -->
        <div class="header_bottom">
          <div class="container-fluid">
            <nav class="navbar navbar-expand-lg custom_nav-container">
              <a class="navbar-brand" href="{{ url_for('home') }}">
                <span style="color: black"> Jaga Kata</span>
              </a>
              <button
                class="navbar-toggler"
                type="button"
                data-toggle="collapse"
                data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent"
                aria-expanded="false"
                aria-label="Toggle navigation"
              >
                <span class=""></span>
              </button>

              <div
                class="collapse navbar-collapse ml-auto"
                id="navbarSupportedContent"
              >
                <ul class="navbar-nav">
                  <li class="nav-item">
                    <a
                      class="nav-link"
                      href="{{ url_for('home') }}"
                      style="color: black"
                      onmouseover="this.style.color='white'"
                      onmouseout="this.style.color='black'"
                      >Beranda
                    </a>
                  </li>
                  <li class="nav-item active">
                    <a class="nav-link" href="{{ url_for('content') }}">
                      <span class="sr-only">(current)</span> Konten</a
                    >
                  </li>
                </ul>
              </div>
            </nav>
          </div>
        </div>
      </header>
      <div class="form">
        <div class="judul">Deteksi Ujaran Kebencian</div>
        <form method="POST" action="/predict">
          <div class="inputna">
            <label>Masukkan Teks</label>
            <textarea class="input" name="tweets" rows="4" cols="50"></textarea>
          </div>
          <div class="inputna">
            <input class="btn" type="submit" value="Prediksi" />
          </div>
        </form>
        {% if prediction_text %}
        <div class="hasil">
          <div class="labeled">
            <label class="hasilujr"
              >Teks&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;
            </label>
            <div class="hasilujr" style="margin-bottom: 5px">
              {{ request.form['tweets'] }}
            </div>
          </div>
          <div class="labeled">
            {% if prediction_text == "Ujaran Kebencian" %}
            <label class="hasilujr">Prediksi :&nbsp;</label>
            <div class="hasilujr" style="font-weight: bold; color: red">
              {{ prediction_text }} &#x1F494;
            </div>
            {% elif prediction_text == "nullo" %}
            <div class="hasilujr" style="font-weight: bold">
              Masukkan teks dengan benar &#128579;
            </div>
            {% else %}
            <label class="hasilujr">Prediksi :&nbsp;</label>
            <div class="hasilujr" style="font-weight: bold; color: green">
              {{ prediction_text }} &#x1F49D;
            </div>
            {% endif %}
          </div>
        </div>
        {% endif %}
      </div>
      <div class="form">
        <div class="judul">Pelabelan Ujaran kebencian</div>
        <form method="POST" action="/label" enctype="multipart/form-data">
          <div class="inputna">
            <label style="color: red"
              >*Format file .csv (Pastikan hanya terdapat 1 kolom)</label
            >
            <input type="file" name="csv_file" />
          </div>
          <div class="inputna">
            <input class="btn" type="submit" value="Pelabelan" />
          </div>
        </form>
        {% if labeled_file %}
        <h2>Labeling Successful!</h2>
        <p>
          Download the labeled file: <a href="{{ labeled_file }}">Download</a>
        </p>
        {% endif %} {% if error_message %}
        <h2 style="color: red">Error!</h2>
        <p>{{ error_message }}</p>
        {% endif %}
      </div>
    </div>

    <!-- about section -->

    <!-- end about section -->

    <!-- service section -->

    <!-- end service section -->

    <!-- end contact section -->

    <!-- team section -->

    <!-- end team section -->

    <!-- info section -->

    <!-- end info_section -->

    <!-- footer section -->
    <footer class="container-fluid footer_section">
      <p>&copy; <span id="currentYear"></span> All Rights Reserved.</p>
    </footer>
    <!-- footer section -->

    <script src="{{ url_for('static', filename='js/jquery-3.4.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
    <script src="{{ url_for('static', filename='js/custom.js') }}"></script>
  </body>
</html>
